.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons__100,
.buttons__75,
.buttons__50,
.buttons__25 {
  padding: 12px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  text-align: center;
}

.buttons__100 {
  background: var(--color-darkorange);
  color: var(--color-white);
}

.buttons__75 {
  background: var(--color-orange);
  color: var(--color-white);
}

.buttons__50 {
  background: var(--color-lightorange);
  color: var(--color-darkorange);
}

.buttons__25 {
  background: var(--color-verylightorange);
  color: var(--color-darkorange);
}

.buttons__cancel {
  background: var(--color-white);
  color: var(--color-darkblue);
}

.buttons__padding {
  padding: 12px 45px;
  width: 200px;
  align-items: center;
  margin: auto;
}

.center {
  text-align: center;
}
