.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons__100,
.buttons__75,
.buttons__50,
.buttons__25 {
  padding: 12px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  text-align: center;
}

.buttons__100 {
  background: var(--color-darkorange);
  color: var(--color-white);
}

.buttons__75 {
  background: var(--color-orange);
  color: var(--color-white);
}

.buttons__50 {
  background: var(--color-lightorange);
  color: var(--color-darkorange);
}

.buttons__25 {
  background: var(--color-verylightorange);
  color: var(--color-darkorange);
}

.buttons__positioning {
  text-align: end;
}

.buttons__energylevel-orange {
  background: var(--color-verylightorange);
  color: var(--color-darkorange);
  padding: 2px 9.5px;
  border-radius: 3px;
  font-size: var(--font-size-small);
  margin-left: 10px;
}

.buttons__energylevel-blue {
  background: var(--color-darkblue);
  color: var(--color-white);
  padding: 2px 9.5px;
  border-radius: 3px;
  font-size: var(--font-size-small);
}

.buttons__cancel {
  background: var(--color-white);
  color: var(--color-darkblue);
  padding: 12px 45px;
  align-items: center;
  text-decoration: none;
  width: 152px;
  height: 48px;
  border-radius: 5px;
}

.buttons__padding {
  padding: 12px 45px;
  align-items: center;
  width: 152px;
  height: 48px;
}

.buttons__center {
  text-align: center;
}
