.app-grid {
  display: grid;
  gap: 20px;
}

.code-buddy {
  position: relative;
}

.buddy-container:first-child {
  margin-top: 34px;
}

.code-buddy__plus {
  position: absolute;
  bottom: -11px;
  left: 0;
  right: 0;
  margin: auto;
}
