/* .container {
  position: relative;
  width: 279px;
  height: 200px;
  padding: 10px;
  background: repeating-linear-gradient(#eee 0 1px, white 1px 40px);
}
.graph {
  border: 1px solid black;
  width: 315px;
  height: 208px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 20px);
  grid-template-areas:
    'percentage  db   db   db   db   db'
    'percentage  db   db   db   db   db'
    'percentage  db   db   db   db   db'
    'percentage  db   db   db   db   db'
    'percentage  db   db   db   db   db'
    '.           time1 time2 time3 time4 time5';
}

.percentage {
  grid-area: percentage;
}

.db {
  grid-area: db;
}

.time {
  grid-area: time;
} */

.graph h3 {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  grid-area: db;
  margin-top: 16px;
  background: repeating-linear-gradient(
    var(--color-gray) 0 1px,
    var(--color-white) 1px 41px
  );
  z-index: -1;
}

.graph {
  width: 315px;
  height: 208px;
  display: grid;
  grid-template-columns: 32px repeat(5, minmax(32px, 1fr));
  grid-template-rows: repeat(6, minmax(0, auto));
  grid-template-areas:
    'percentage  db   db   db   db   db'
    'percentage  db   db   db   db   db'
    'percentage  db   db   db   db   db'
    'percentage  db   db   db   db   db'
    'percentage  db   db   db   db   db'
    '.           time time time time time';
}

.percentage {
  grid-area: percentage;
  height: 208px;
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: flex-start;
}

.db {
  grid-area: db;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.time {
  grid-area: time;
  display: flex;
  justify-content: space-around;
}

.percentage > li {
  padding-bottom: 24px;
}

.percentage:last-child {
  padding-bottom: -2px;
}

.doublebar1 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 9px;
}
.orange1 {
  width: 12px;
  height: 175px;
  background: #ff5a36;
  border-radius: 50px 50px 0 0;
}
.blue1 {
  width: 12px;
  height: 154px;
  background: #193251;
  border-radius: 50px 50px 0 0;
}
.doublebar2 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 9px;
}
.orange2 {
  width: 12px;
  height: 131px;
  background: #ff5a36;
  border-radius: 50px 50px 0 0;
}
.blue2 {
  width: 12px;
  height: 148px;
  background: #193251;
  border-radius: 50px 50px 0 0;
}
.doublebar3 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 9px;
}
.orange3 {
  width: 12px;
  height: 157px;
  background: #ff5a36;
  border-radius: 50px 50px 0 0;
}
.blue3 {
  width: 12px;
  height: 109px;
  background: #193251;
  border-radius: 50px 50px 0 0;
}
.doublebar4 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 9px;
}
.orange4 {
  width: 12px;
  height: 72px;
  background: #ff5a36;
  border-radius: 50px 50px 0 0;
}
.blue4 {
  width: 12px;
  height: 95px;
  background: #193251;
  border-radius: 50px 50px 0 0;
}
.doublebar5 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 9px;
}
.orange5 {
  width: 12px;
  height: 47px;
  background: #ff5a36;
  border-radius: 50px 50px 0 0;
}
.blue5 {
  width: 12px;
  height: 33px;
  background: #193251;
  border-radius: 50px 50px 0 0;
}
