.header {
  position: fixed;
  width: 100vw;
  background-color: var(--color-eggshell);
  z-index: 1;
}
.header__title {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-big);
  line-height: 1.5;
  text-align: center;
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
