<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <header class="headsec">
      <img
        class="headsec-background"
        src="/icons/background_shape_1.svg"
        alt=""
      />
      <h1 class="headsec-title">Teams</h1>
      <h3 class="headsec-subtitle">for Exercise 1</h3>
    </header>
  </body>
</html>
