<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz App</title>
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body class="app-grid">
    <header>Quiz App</header>
    <main></main>
    <nav class="navigation">
      <a class="navigation__link" href="#home"
        ><i class="fas fa-home"></i>Home</a
      >
      <a class="navigation__link" href="#bookmarks"
        ><i class="fas fa-bookmark"></i>Bookmarks</a
      >
      <a class="navigation__link" href="#create"
        ><i class="fas fa-edit"></i>Create</a
      >
      <a class="navigation__link" href="#settings"
        ><i class="fas fa-cog"></i>Settings</a
      >
    </nav>
  </body>
</html>
