.journal {
  border-radius: 6px;
  box-shadow: 0 2px 11px var(--shadow-grey);
  padding: 20px;
  margin-bottom: 30px;
}

.journal:last-child {
  margin-bottom: 87px;
}

.journal__rating,
.journal__comprehension {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  gap: 6px;
}
