<div class="buttons__center margin-t10">
  <a
    href="/journal-form.html"
    class="buttons__100 buttons__padding buttons__shadow"
  >
    Rate Today
    <img
      class="icon-filter"
      src="/icons/Star Copy 8.svg"
      alt=""
      width="13"
      height="13"
    />
  </a>
</div>

<section class="journal margin-t30">
  <h2>Yesterday</h2>
  <h3 class="margin-null">Rating:</h3>
  <ul class="journal__rating">
    <li><img src="/icons/Star.svg" alt="" /></li>

    <li><img src="/icons/Star.svg" alt="" /></li>

    <li><img src="/icons/Star.svg" alt="" /></li>

    <li><img src="/icons/Star Copy 7.svg" alt="" /></li>

    <li><img src="/icons/Star Copy 7.svg" alt="" /></li>
  </ul>
  <h3 class="margin-null">Comprehension:</h3>
  <ul class="journal__comprehension">
    <li><img src="/icons/Rectangle Copy 3.svg" alt="" /></li>
    <li><img src="/icons/Rectangle Copy 3.svg" alt="" /></li>
    <li><img src="/icons/Rectangle Copy 3.svg" alt="" /></li>
    <li><img src="/icons/Rectangle Copy 3.svg" alt="" /></li>
    <li><img src="/icons/Rectangle Copy 3.svg" alt="" /></li>
    <li><img src="/icons/Rectangle Copy 3.svg" alt="" /></li>
    <li><img src="/icons/Rectangle Copy 3.svg" alt="" /></li>
    <li><img src="/icons/Rectangle Copy 20.svg" alt="" /></li>
    <li><img src="/icons/Rectangle Copy 20.svg" alt="" /></li>
    <li><img src="/icons/Rectangle Copy 20.svg" alt="" /></li>
  </ul>
  <h3 class="margin-null">Motto:</h3>
  <p>Lorem ipsum dolor, sit amet</p>
  <h3>Notes:</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis harum,
    aperiam molestias, illo deleniti voluptatum incidunt voluptate
  </p>
</section>
