.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 29px;
  border-radius: 10px;
  box-shadow: 0 2px 11px rgba(25, 50, 81, 0.2);
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
