.teams {
  margin: 20px 0;
}

.teams:first-child {
  margin-top: 34px;
}

.teams:last-child {
  margin-bottom: 87px;
}

.teams__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  border: 1px solid var(--color-gray);
  border-radius: 6px;
}

.teams__items {
  text-align: center;
  border-bottom: 1px solid var(--color-gray);
  padding: 18px 0;
  color: var(--color-lightblue);
}

.teams__items:last-child {
  border-bottom: 0;
}
