<section style="display: grid; height: 48px; border: 1px solid #eee">
  <nav class="navigation">
    <a class="navigation__link" href="#home"><i class="fas fa-home"></i>Home</a>
    <a class="navigation__link" href="#bookmarks"
      ><i class="fas fa-bookmark"></i>Bookmarks</a
    >
    <a class="navigation__link" href="#create"
      ><i class="fas fa-edit"></i>Create</a
    >
    <a class="navigation__link" href="#settings"
      ><i class="fas fa-cog"></i>Settings</a
    >
  </nav>
</section>
