* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 48px auto 48px;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-weight: 700;
  color: var(--color--blue1);
}

h2 {
  font-size: 14px;
  font-weight: 600;
  color: var(--color--blue1);
  line-height: 1.143;
}

h3 {
  font-size: 12px;
  font-weight: 400;
  color: var(--color--blue2);
  line-height: 1.143;
}

button {
  font-size: 1em;
}
