:root {
  --color--orange1: #ff5a36;
  --color--orange2: #ff9c86;
  --color--orange3: #ffbdaf;
  --color--orange4: #ffded7;
  --color--blue1: #193251;
  /* blue2 wird auch für dunkle border-color benutzt */
  --color--blue2: #7589a2;
  /* blue3 wird auch für helle border-color benutzt */
  --color--blue3: #e0e4e8;
  --color--blue4: #f8f8f8;
  --shadow--grey: rgba(25, 50, 81, 0.2);
  --shadow--orange: rgba(255, 90, 54, 0.4);
  --font--color-dark: #193251;
  --font--color-light: #7589a2;
  --font-size--big: 16px;
  --font-size--medium: 14px;
  --font-size--small: 12px;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 48px auto 48px;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 30px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: var(--color--blue1);
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--color--blue1);
  line-height: 1.143;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--color--blue2);
  line-height: 1.143;
}

button {
  font-size: 1em;
}
