.buddies {
  font-weight: 600;
  color: var(--color-lightblue);
}

.journal-heading {
  line-height: 1.333;
}

.comprehension {
  letter-spacing: -0.26px;
}

.margin-null {
  margin-top: 0;
}

.margin-t30 {
  margin-top: 30px;
}

.margin-b30 {
  margin-bottom: 30px;
}

.icon-filter {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}
