:root {
  --color-darkorange: #ff5a36;
  --color-orange: #ff9c86;
  --color-lightorange: #ffbdaf;
  --color-verylightorange: #ffded7;

  --color-darkblue: #193251;
  --color-lightblue: #7589a2;

  --color-gray: #e0e4e8;
  --color-eggshell: #f8f8f8;
  --color-white: #fff;

  --shadow-grey: rgba(25, 50, 81, 0.2);
  --shadow-orange: rgba(255, 90, 54, 0.4);

  /* Font-Styles */

  --font-size-big: 16px;
  --font-size-medium: 14px;
  --font-size-small: 12px;
}
